.section.section--Events{
    .section_content{
        .section_backlink{
            width: fit-content;
            margin: 20px 0;
            color: var(--ColorText);

            .backlink_link{
                text-decoration: none;
            }

            &:hover {
                color: var(--ColorSecondary);
            }
        }

        .events_content{
            display: flex;
            gap: 20px;
            color: var(--ColorText);

            @include media("<medium") {
                flex-direction: column;
            }

            .events_image{
                @include media(">=medium") {
                    width: 30%;
                }

                img{
                    width: 100%;
                    height: auto;
                }
            }

            .events_text{
                @include media(">=medium") {
                    width: 70%;
                }
            }
            .events_title{
                margin-top: unset;
                font-size: clamp(1.7rem, -0.1667rem + 4.2667vw, 2.5rem);
                color: var(--ColorHeadline);
            }

            .events_link{
                margin: 10px 0;
            }
        }
    }
}
