footer {
    display: block;
    padding: 37px 20px;
    background-color: White;
    border-top: 4px solid $ColorPrimary;

    .footer_content {
        max-width: var(--MaxWidthContent);
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;

        a {
            color: #333;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer_columns {
        flex: 1;
        min-width: 300px;
        display: flex;
        gap: 40px;
        align-items: flex-start;
        flex-wrap: wrap;

        @include media("<medium") {
            flex-direction: column;
        }
    }

    .footer_column_entry {
        flex: 1;
    }

    .footer_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer_logo {
        img {
            height: 60px;
            width: auto;
            display: block;
        }
    }

    .footer_menu {
        text-align: center;
    }

    .footer_column_title {
        color: var(--ColorHeadline);
    }

    .footer_text {
        color: var(--ColorText);
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 5px;

        a[href^="mailto:"] {
            color: $ColorPrimary;
            text-decoration: underline;

            &:hover {
                color: darken($ColorPrimary, 30%);
            }
        }
    }

    .footer_menu_list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 20px;
        margin-top: 20px;
    }

    .footer_menu_item {
        list-style: none;
        margin: 0;

        a {
            color: #464F54;
            font-size: 14px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
