@use '../../variables.scss' as *;

.nav_strip--simple-navbar {
    //Styling for the simple NavBar menu

    .nav_container {
      justify-content: flex-start;

        .nav_menu_dropdown {
          display: flex;

            .nav_menu{
                display: flex;
                justify-content: center;
                padding: 10px 0;

                .nav_menu_wrap {
                    list-style: none;
                    display: flex;
                    gap: 20px;

                    @include mediasize(max-desktop) {
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .nav_link{
                    color: var(--ColorText);
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                    padding: 8px 12px;

                    &:hover {
                        background-color: var(--ColorSecondary);
                    }

                    &.nav_link--current {
                        background-color: var(--ColorSecondary);
                        color: var(--ColorWhite);

                        &:hover {
                            filter: brightness(0.9);
                        }
                    }
                }

            }
        }
    }
}
