@use '../../variables.scss' as *;

.header_nav_strip.nav_strip--simple-navbar {
    //Styling for the simple NavBar menu
    .site_header & {
      background-color: var(--ColorMenuBackground);
      color: var(--ColorMenuText);

      .nav_brand_white {
        display: none;
      }
    }

    .nav_container {
        max-width: var(--MaxWidth);
        margin: 0 auto;
        display: grid;
        grid-template-columns: 15% 1fr 10%;
        align-items: center;

        .nav_brand {
            padding: 20px 0 20px 20px;
            max-width: 111px;

            @include media(max-desktop) {
                width: 90px;
            }
        }

        .nav_menu{
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;
            list-style: none;
            gap: 20px;
            margin-bottom: 0;

            @include media(max-desktop) {
                flex-direction: column;
                align-items: center;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: calc(70px + 100%);
                left: 0;
                width: 100%;
                background-color: var(--ColorWhite);
                transition: opacity 0.3s ease-in-out;
                z-index: 999;
                margin: 0;

                .nav--show & {
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            .nav_link{
                color: var(--ColorMenuText);
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                padding: 8px 12px;

                &:hover {
                    color: var(--ColorMenuTextHover);
                }

                &.nav_link--current {
                    background-color: var(--ColorMenuTextHover);
                    color: var(--ColorWhite);

                    &:hover {
                        filter: brightness(0.9);
                    }
                }
            }
        }

        .nav_button{
            grid-column: 3 / span 1;
            justify-self: end;
            display: none;

            .nav_menu_button {
                background: none;
                border: none;
                font-size: 24px;
                cursor: pointer;
                color: var(--ColorText);
                position: relative;
                width: 30px;
                height: 22px;
                right: 10px;

                .nav_menu_button_stripe {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: var(--ColorText);
                    border-radius: 2px;
                    transform: translateY(-50%);
                    transition: 0.3s ease-in-out;

                    &:nth-child(1) {
                        top: calc(50% - 9px);
                    }
                    &:nth-child(2) {
                        top: 50%;
                    }
                    &:nth-child(3) {
                        top: 50%;
                    }
                    &:nth-child(4) {
                        top: calc(50% + 9px);
                    }

                    .nav--show & {
                        &:nth-child(1) {
                            opacity: 0;
                        }
                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                        &:nth-child(4) {
                            opacity: 0;
                        }
                    }
                }
            }

            @include media(max-desktop) {
                display: block;
            }
        }

        .nav_language {
            @include media(max-desktop) {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                text-align: center;
                background-color: var(--ColorWhite);
                padding: 10px;
                z-index: 300;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                // height: 80px;

                .nav--show & {
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            .nav_language--flags{
                position: relative;
                top: unset;
            }
        }
    }
}
