@use '../../variables.scss' as *;

.nav_strip--simple-navbar {
    //Styling for the simple NavBar menu

    .nav_container {
        max-width: var(--MaxWidth);
        margin: 0 auto;
        display: grid;
        grid-template-columns: 15% 1fr 10%;
        align-items: center;

        .nav_menu{
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;
            list-style: none;
            gap: 20px;

            @include media(max-desktop) {
                flex-direction: column;
                align-items: center;
            }

            .nav_link{
                color: var(--ColorWhite);
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                padding: 8px 12px;

                .nav-strip--sticky & {
                    color: var(--ColorText);
                }

                &:hover {
                    background-color: var(--ColorSecondary);
                }

                &.nav_link--current {
                    background-color: var(--ColorSecondary);
                    color: var(--ColorWhite);

                    &:hover {
                        filter: brightness(0.9);
                    }
                }
            }
        }

        .nav_button{
            grid-column: -2 / span 1;
            justify-self: end;
            display: none;

            @include media(max-medium) {
                display: block;
            }
        }
    }
}
