// Import core variables from silverstripe/admin
@import 'variables';
@import 'embla.css';

@import "elements/TextImageElement.scss";
@import "elements/TeaserElement.scss";
@import "elements/GalleryElement.scss";
@import 'elements/HeroElement.scss';
@import "elements/IconCardElement.scss";
@import "elements/SliderElement.scss";
@import "elements/SpacerElement.scss";
@import "elements/TwoColumnTextElement.scss";
@import "elements/CardsSliderElement.scss";
@import "elements/PersonElement.scss";
@import "elements/ShowcaseElement.scss";
@import "elements/NewsElement.scss";
@import "elements/BigPictureElement.scss";
@import "elements/CitationElement.scss";
@import "elements/HighlightElement.scss";
@import "elements/HTMLElement.scss";

@import "news/NewsOverviewPage.scss";
@import "news/NewsPage.scss";

@import "events/EventsPage.scss";
@import "events/EventsPageOverview.scss";

@import "layout/footer.scss";
@import "layout/header.scss";
@import "layout/glightbox.scss";
@import "layout/breadcrumbs.scss";
@import "layout/LangSwitch.scss";

@import "fonts/_fonts.scss";
@import "normalize.scss";
@import "variables.scss";
@import "typography.scss";
@import "forms.scss";

section {

    //Background Colors
    &.bgc-transparent {
        background: transparent;
        padding: 0;
    }
    &.bgc-white {
        background: white;
    }
    &.bgc-black {
        background: black;
    }
    &.bgc-primary {
        background: var(--ColorPrimary);
    }
    &.bgc-primary-dark {
        background: var(--ColorPrimaryDark);
    }
    &.bgc-primary-light {
        background: var(--ColorPrimaryLight);
    }
    &.bgc-secondary {
        background: var(--ColorSecondary);
    }
    &.bgc-secondary-dark {
        background: var(--ColorSecondaryDark);
    }
    &.bgc-secondary-light {
        background: var(--ColorSecondaryLight);
    }

    .section_content{
        max-width: var(--MaxWidthContent);
        margin: 0 auto;
        padding: 0 20px;
    }
}

.nav-strip--sticky {
    &:has(.hero_section) {
        .hero_section {
            margin-top: 85px;
        }
    }

    &:has:not(.hero_section) {
        .area_content {
            margin-top: 85px;
        }
    }
}


