@import "include-media";

// Import core variables from silverstripe/admin
@import 'variables';

@import "elements/TextImageElement.scss";
@import "elements/TeaserElement.scss";
@import "elements/GalleryElement.scss";
@import 'elements/HeroElement.scss';
@import "elements/IconCardElement.scss";
@import "elements/SliderElement.scss";
@import "elements/SpacerElement.scss";
@import "elements/TwoColumnTextElement.scss";
@import "elements/CardsSliderElement.scss";
@import "elements/ContactPersonsElement.scss";
@import "elements/ShowcaseElement.scss";
@import "elements/NewsElement.scss";
@import "elements/BigPictureElement.scss";
@import "elements/CitationElement.scss";
@import "news/NewsOverviewPage.scss";
@import "news/NewsPage.scss";

@import "layout/footer.scss";
@import "layout/header.scss";
@import "layout/glightbox.scss";

@import "fonts/_fonts.scss";
@import "normalize.scss";
@import "variables.scss";
@import "typography.scss";
@import "forms.scss";
