body{
    font-family: var(--FontBody);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;
}

h1, h2, h3, h4, h5{
    font-weight: 700;
    font-family: var(--FontHeader);
    line-height: normal;
    margin-top: 0;
    color: var(--ColorHeadline);
}

h1{
    font-size: clamp(2.375rem, 1.0417rem + 5.3333vw, 4.375rem);
    line-height: 1.1;
}

.hl2 {
    font-size: clamp(2.125rem, 1.7083rem + 1.6667vw, 2.75rem);
    font-weight: 500;
    line-height: 1.05;
}

p {
    margin: 0 0 30px 0;
    color: var(--ColorText);

    &.text-left {
        text-align: left;
    }

    &.text-center {
        text-align: center;
    }

    &.text-right {
        text-align: right;
    }

    &.text-justify {
        text-align: justify;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--ColorPrimary);

    &:not(.link--button) {
        text-decoration: underline;
        &:hover {
            color: var(--ColorSecondary);
        }
    }
}

.bgc-primary, .bgc-primary-dark, .bgc-primary-light {
    a {
        &:not(.link--button) {
            text-decoration: underline;
            color: var(--ColorWhite);

            &:hover {
                color: var(--ColorSecondary);
            }
        }
    }

    &.primary-white-text {
        h1, h2, h3, h4, h5, p{
            color: var(--ColorWhite);
        }
    }
}

.bgc-secondary, .bgc-secondary-dark, .bgc-secondary-light {
    a {
        &:not(.link--button) {
            text-decoration: underline;
            color: var(--ColorWhite);
            &:hover {
                color: var(--ColorPrimary);
            }
        }
    }

    &.secondary-white-text {
        h1, h2, h3, h4, h5, p{
            color: var(--ColorWhite);
        }
    }
}

.link--button {
    background-color: var(--ColorButton);
    color: var(--ColorButtonText);
    display: inline-block;
    font-size: 16px;
    text-wrap: nowrap;
    font-weight: bold;
    border-radius: 1px;
    padding: 12px 25px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    align-self: flex-end;

    &:hover {
        background-color: var(--ColorSecondary);
    }


    &.buttonvariant--primary{
        background-color: var(--ColorPrimary);
        color: var(--ColorButtonText);

        &:hover {
            background-color: var(--ColorSecondary);
        }

        &.bgc-primary {
            background-color: var(--ColorButtonText);
            color: var(--ColorButton);

            &:hover {
                background-color: var(--ColorSecondary);
                color: var(--ColorButtonText);
            }
        }

        &.bgc-secondary {
            background-color: var(--ColorButtonText);
            color: var(--ColorButton);

            &:hover {
                background-color: var(--ColorPrimary);
                color: var(--ColorButtonText);
            }
        }
    }

    &.buttonvariant--secondary{
        border: 2px solid var(--ColorSecondary);
        background-color: transparent;
        color: var(--ColorSecondary);

        &:hover {
            background-color: var(--ColorSecondary);
            color: var(--ColorWhite);
        }

        &.bgc-primary {
            border: 2px solid var(--ColorWhite);
            color: var(--ColorWhite);

            &:hover {
                background-color: var(--ColorWhite);
                color: var(--ColorPrimary);
            }
        }

        &.bgc-secondary {
            border: 2px solid var(--ColorWhite);
            color: var(--ColorWhite);

            &:hover {
                background-color: var(--ColorWhite);
                color: var(--ColorSecondary);
            }
        }
    }

    &.buttonvariant--readmore{
        background-color: transparent;
        color: var(--ColorPrimary);
        padding: 6px 10px 5px 45px;
        text-decoration: none;
        position: relative;
        left: 0px;
        transition: 0.3s ease-in-out;

        &::before {
            content: "";
            background-color: var(--ColorPrimary);
            border: 2px solid var(--ColorPrimary);
            border-radius: 50%;
            display: block;
            height: 31px;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.3s ease-in-out;
            width: 31px;
        }

        &::after {
            border-right: 2px solid var(--ColorWhite);
            border-top: 2px solid var(--ColorWhite);
            content: "";
            display: block;
            height: 8px;
            left: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            transform-origin: center;
            transition: 0.3s ease-in-out;
            width: 8px;
        }

        &:hover {
            text-decoration: underline;
            left: 5px;

            &::before {
                left: 5px;
            }

            &::after {
                left: 15px;
            }
        }

        &.bgc-primary, &.bgc-primary-dark, &.bgc-primary-light {
            color: var(--ColorWhite);

            &::before {
                background-color: var(--ColorWhite);
                border-color: var(--ColorWhite);
            }

            &::after {
                border-right: 2px solid var(--ColorPrimary);
                border-top: 2px solid var(--ColorPrimary);
            }

            &:hover {
                color: var(--ColorWhite);
            }
        }

        &.bgc-secondary, &.bgc-secondary-dark, &.bgc-secondary-light {
            color: var(--ColorWhite);

            &::before {
                background-color: var(--ColorWhite);
                border-color: var(--ColorWhite);
            }

            &::after {
                border-right: 2px solid var(--ColorSecondary);
                border-top: 2px solid var(--ColorSecondary);
            }

            &:hover {
                color: var(--ColorWhite);
            }
        }

        &:hover {
            border-color: transparent;
        }
    }

    @include media(max-desktop) {
        overflow-wrap: break-word;
        white-space: normal;
    }
}
