body{
    font-family: var(--FontBody);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;
}

h1, h2, h3, h4, h5{
    font-weight: 700;
    font-family: var(--FontHeader);
    line-height: normal;
    margin-top: 0;
    color: var(--ColorHeadline);
}

h1{
    font-size: clamp(2.375rem, 1.0417rem + 5.3333vw, 4.375rem);
    line-height: 1.1;
}

.hl2 {
    font-size: clamp(2.125rem, 1.7083rem + 1.6667vw, 2.75rem);
    font-weight: 500;
    line-height: 1.05;
}

p {
    margin: 0 0 30px 0;
    color: var(--ColorText);

    &.text-left {
        text-align: left;
    }

    &.text-center {
        text-align: center;
    }

    &.text-right {
        text-align: right;
    }

    &.text-justify {
        text-align: justify;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--ColorPrimary);

    &:not(.link--button) {
        text-decoration: underline;
        &:hover {
            color: var(--ColorSecondary);
        }
    }
}

.bgc-primary {
    a {
        &:not(.link--button) {
            text-decoration: underline;
            color: var(--ColorWhite);

            &:hover {
                color: var(--ColorSecondary);
            }
        }
    }  
    
    &.primary-white-text {
        h1, h2, h3, h4, h5, p{
            color: var(--ColorWhite);
        }
    }
}

.bgc-secondary {
    a {
        &:not(.link--button) {
            text-decoration: underline;
            color: var(--ColorWhite);
            &:hover {
                color: var(--ColorPrimary);
            }
        }
    }    

    &.secondary-white-text {
        h1, h2, h3, h4, h5, p{
            color: var(--ColorWhite);
        }
    }
}

.link--button {
    background-color: var(--ColorButton);
    color: var(--ColorButtonText);
    display: inline-block;
    font-size: 16px;
    text-wrap: nowrap;
    font-weight: bold;
    border-radius: 1px;
    padding: 12px 25px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    align-self: flex-end;

    &:hover {
        background-color: var(--ColorSecondary);
    }


    &.buttonvariant--primary{
        background-color: var(--ColorPrimary);
        color: var(--ColorButtonText);

        &:hover {
            background-color: var(--ColorSecondary);
        }

        &.bgc-primary {
            background-color: var(--ColorButtonText);
            color: var(--ColorButton);

            &:hover {
                background-color: var(--ColorSecondary);
                color: var(--ColorButtonText);
            }
        }

        &.bgc-secondary {
            background-color: var(--ColorButtonText);
            color: var(--ColorButton);

            &:hover {
                background-color: var(--ColorPrimary);
                color: var(--ColorButtonText);
            }
        }
    }

    &.buttonvariant--secondary{
        border: 2px solid var(--ColorSecondary);
        background-color: transparent;
        color: var(--ColorSecondary);

        &:hover {
            background-color: var(--ColorSecondary);
            color: var(--ColorWhite);
        }

        &.bgc-primary {
            border: 2px solid var(--ColorWhite);
            color: var(--ColorWhite);

            &:hover {
                background-color: var(--ColorWhite);
                color: var(--ColorPrimary);
            }
        }

        &.bgc-secondary {
            border: 2px solid var(--ColorWhite);
            color: var(--ColorWhite);

            &:hover {
                background-color: var(--ColorWhite);
                color: var(--ColorSecondary);
            }
        }
    }


    @include media(max-desktop) {
        overflow-wrap: break-word;
        white-space: normal;
    }
}
