@mixin media($size) {
    @if $size ==smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==medium {
        @media (min-width: 700px) {
            @content;
        }
    }

    @else if $size ==desktop {
        @media (min-width: 1000px) {
            @content;
        }
    }

    @else if $size ==maxwidth {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $size ==max-medium {
        @media (max-width: 700px) {
            @content;
        }
    }

    @else if $size ==max-smartphone {
        @media (min-width: 480px) {
            @content;
        }
    }

    @else if $size ==max-desktop {
        @media (max-width: 1000px) {
            @content;
        }
    }

    @else if $size ==max-maxwidth {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else {
        @error "Unknown media size: #{$size}. Please use one of the defined breakpoints: smartphone, medium, desktop, large, maxwidth, max-medium, max-smartphone, max-desktop, max-large, max-maxwidth.";
    }
}

// Layout Variables - werden zur Kompilezeit gesetzt, können zur Laufzeit durch CSS-Variablen überschrieben werden
//Set CSS Variables to modify at runtime
:root {
    --MaxWidth: 1350px;
    --MaxWidthContent: 1350px;
    --ColorPrimary: #03395E;
    --ColorSecondary: #63819C;
    --ColorMenuBand: #F7F7F7;
    --ColorMenuButton: #F7F7F7;
    --ColorMenuText: #F7F7F7;
    --ColorMenuTextHover: #666;
    --ColorPrimaryFontWhite: false;
    --ColorSecondaryFontWhite: false;
    --ColorError: #FF0000;

    --ColorPrimaryTextDark: #193860;

    --ColorBlack: #131F42;
    --ColorWhite: #F7F7F7;
    --ColorLightGrey: #999;
    --ColorGrey: #666;

    --ColorFont: #000000;
    --ColorButton: var(--ColorPrimary);
    --ColorButtonText: var(--ColorWhite);
    --ColorPrimaryHover: #0f1d30;
    --ColorSecondaryHover: #806934;

    --HeroDarkness: rgba(0, 0, 0, 0.2);
}
