// Layout Variables - werden zur Kompilezeit gesetzt, können zur Laufzeit durch CSS-Variablen überschrieben werden
$MaxWidth: 1920px;
$MaxWidthContent: 1200px;

$breakpoints: (
    'smartphone': 480px,
    'medium': 700px,
    'desktop': 1000px,
    'maxWidth': $MaxWidth,
);

$HeaderHeight: 120px;

$ColorPrimary: #03395E;
$ColorSecondary: #63819C;
$ColorMenuBand: #F7F7F7;

$ColorBlack: #131F42;
$ColorBlackTrans: #131f42b4;
$ColorWhite: #F7F7F7;

$ColorGrey: #666;
$ColorLightGrey: #999;

//Set CSS Variables to modify at runtime
:root {
    --MaxWidth: #{$MaxWidth};
    --MaxWidthContent: #{$MaxWidthContent};
    --ColorPrimary: #{$ColorPrimary};
    --ColorSecondary: #{$ColorSecondary};
    --ColorMenuBand: #{$ColorMenuBand};
    --ColorMenuButton: #{$ColorMenuBand};
    --ColorMenuText: #{$ColorWhite};
    --ColorMenuTextHover: #{$ColorGrey};
    --ColorPrimaryFontWhite: false;
    --ColorSecondaryFontWhite: false;

    --ColorPrimaryTextDark: #193860;

    --ColorBlack: #{$ColorBlack};
    --ColorWhite: #{$ColorWhite};
    --ColorLightGrey: #{$ColorLightGrey};
    --ColorGrey: #{$ColorGrey};

    --ColorFont: #000000;
    --ColorButton: var(--ColorPrimary);
    --ColorButtonText: var(--ColorWhite);
    --ColorPrimaryHover: #0f1d30;
    --ColorSecondaryHover: #806934;

    --HeroDarkness: rgba(0, 0, 0, 0.2);
}

.container {
    max-width: var(--MaxWidth);
    margin: 0 auto;
}

.container-content {
    max-width: var(--MaxWidthContent);
    margin: 0 auto;
}

@mixin mediasize($size) {
    @if $size ==smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==medium {
        @media (min-width: 700px) {
            @content;
        }
    }

    @else if $size ==desktop {
        @media (min-width: 1000px) {
            @content;
        }
    }

    @else if $size ==maxwidth {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $size ==max-medium {
        @media (max-width: 700px) {
            @content;
        }
    }

    @else if $size ==max-smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==max-desktop {
        @media (max-width: 1000px) {
            @content;
        }
    }

    @else if $size ==max-maxwidth {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else {
        @error "Unknown media size: #{$size}. Please use one of the defined breakpoints: smartphone, medium, desktop, large, maxwidth, max-medium, max-smartphone, max-desktop, max-large, max-maxwidth.";
    }
}
