section.section--AccordionSmallElement{
    padding: 60px 0;

    .section_intro{
        max-width: 80%;

        @include media(max-medium){
            max-width: 100%;
        }
    }

    .section_accordion{
        
        .accordion_item{

            .accordion_item_image{
                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .accordion_item_intro{
                p {
                    margin: 0;
                }
            }
        }
    }
    .accordion_item{
        .section_item_expand{
            position: relative;
            margin-bottom: 10px;
            padding: 10px 70px 10px 10px;
            background-color: var(--ColorPrimaryLight);

            p{
                color: var(--ColorHeadline);
            }

            h3 {
                margin: 0;
            }

            &::after, &::before {
                content: '';
                width: 3px;
                height: 20px;
                background-color: var(--ColorPrimary);
                top: 50%;
                right: 20px;
                position: absolute;
                transform: translate(-50%, -50%);
            }

            &::after {
                transform: translate(-50%, -20%) rotate(45deg);
            }

            &::before {
                transform: translate(-50%, -80%) rotate(-45deg);
            }
        }

        details{

            .section_item_content{
                max-width: 80%;
                padding-left: 10px;

                @include media(max-medium){
                    max-width: 100%;
                }
            }
            
            summary{
                &::-webkit-details-marker {
                    display: none;
                }
                cursor: pointer;
                p{
                    margin: 0;
                }
            }
            
            &[open]{
                .section_item_expand{
                    &::before {
                        transform: translate(200%, -50%) rotate(45deg);
                    }
                    &::after {
                        transform: translate(-200%, -50%) rotate(135deg);
                    }
                }
            }
        }
    }

    &.bgc-primary, &.bgc-primary-dark, &.bgc-primary-light,
    &.bgc-secondary, &.bgc-secondary-dark, &.bgc-secondary-light{
        .section_item_expand{
            h3 {
                color: var(--ColorPrimary);
            }
        }
    }
}
