section.section--BigPictureElement {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .big-picture_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 1;
    }
}
