.section.section--CardSliderElement {
    padding: 80px 0;
    background: var(--ColorPrimary);
    color: var(--ColorWhite);
    width: 100vw;
    position: relative;
    margin: 0 auto;

    .section_content {
        max-width: none;
        margin: 0;
        padding: 0 20px;

        .section_title {
            max-width: var(--MaxWidthContent);
            margin: 0 auto 40px auto;
            text-align: left;
            margin-bottom: 40px;
            color: var(--ColorWhite);
            padding-left: 0;

            @media (max-width: 768px) {
                font-size: 2rem;
                text-align: center;
            }
        }

        .swiper {
            padding-bottom: 40px;
            aspect-ratio: unset;
            max-width: var(--MaxWidthContent);
            margin: 0 auto;
            overflow: visible;

            .swiper-wrapper{
                align-items: stretch;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;
                    align-items: stretch;
                    opacity: 0.5;
                    transition: opacity 0.3s ease-in-out;
                    height: unset;

                    &.swiper-slide-next, &.swiper-slide-prev,
                    &.swiper-slide-active {
                        opacity: 1;
                    }

                    .card-slide-image {
                        width: 100%;
                        height: 100%;
                        max-height: 246px;
                        overflow: hidden;
                        display: block;
                    }

                    .card-slide-content{
                        width: 100%;
                        height: 100%;
                        flex-shrink: 1;
                        padding: 20px;
                        font-weight: 400;
                        font-size: 18px;

                        .card-slide-title{
                            font-weight: 500;
                            font-size: 26px;
                            line-height: 100%;
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                    }

                    &.bg-color-white {
                        background-color: var(--ColorWhite);
                        color: var(--ColorPrimary);
                    }

                    &.bg-color-primary {
                        background-color: var(--ColorPrimary);
                        color: var(--ColorWhite);

                        .link--button{
                            background-color: var(--ColorWhite);
                            color: var(--ColorPrimary);

                            &:hover{
                                background-color: var(--ColorPrimaryLight);
                                color: var(--ColorWhite);
                            }
                        }
                    }

                    &.bg-color-secondary {
                        background-color: var(--ColorSecondary);
                        color: var(--ColorWhite);

                        .link--button{
                            background-color: var(--ColorWhite);
                            color: var(--ColorPrimary);

                            &:hover{
                                background-color: var(--ColorPrimaryLight);
                                color: var(--ColorWhite);
                            }
                        }
                    }

                    &.bg-color-tertiary {
                        background-color: var(--ColorTertiary);
                        color: var(--ColorWhite);

                        .link--button{
                            background-color: var(--ColorWhite);
                            color: var(--ColorPrimary);

                            &:hover{
                                background-color: var(--ColorPrimaryLight);
                                color: var(--ColorWhite);
                            }
                        }
                    }
                }
            }

            .swiper-button-next, .swiper-button-prev {
                background-color: var(--ColorSecondary);
                color: var(--ColorWhite);
                width: 55px;
                height: 55px;
                border-radius: 0;
                border: none;

                &::after, &::before {
                    content: '';
                    width: 3px;
                    height: 20px;
                    background-color: var(--ColorWhite);
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }

                &::after {
                    transform: translate(-50%, -20%) rotate(45deg);
                }

                &::before {
                    transform: translate(-50%, -80%) rotate(-45deg);
                }
            }

            .swiper-button-prev {
              &::after {
                    transform: translate(-50%, -20%) rotate(-45deg);
                }

                &::before {
                    transform: translate(-50%, -80%) rotate(45deg);
                }
            }
        }
    }
}
