section.section--CardSliderElement {
  padding: 80px 0;
  // background: var(--ColorPrimary);
  // color: var(--ColorWhite);
  position: relative;
  margin: 0 auto;

  .section_title {
    max-width: var(--MaxWidthContent);
    margin: 0 auto 40px auto;
    text-align: left;
    margin-bottom: 40px;
    // color: var(--ColorWhite);
    padding-left: 0;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .section_intro_text {
    max-width: var(--MaxWidthContent);
    margin: 0 auto 30px;
  }

  .embla {
    position: relative;
    --slide-spacing: 30px;
    --slide-size: 100%;

    @include media('medium') {
      --slide-size: 50%;
    }

    @include media('desktop') {
      --slide-size: 25%;
    }
  }

  .embla__viewport {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    // max-width: 1920px;
  }

  .embla__container {
    display: flex;
    // gap: 30px;
  }

  .card-slide {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    transition: opacity 0.3s ease-in-out;
    height: unset;
    background-color: var(--ColorWhite);
    // color: var(--ColorPrimary);

    &.embla__slide--edge {
      opacity: 0.5;
    }

    &.swiper-slide-next,
    &.swiper-slide-prev,
    &.swiper-slide-active {
      opacity: 1;
    }

    .card-slide-image {
      width: 100%;
      display: block;
      img {
        width: 100%;
        display: block;
      }
    }

    .card-slide-content {
      width: 100%;
      height: 100%;
      flex-shrink: 1;
      padding: 20px;
      font-weight: 400;

      .card-slide-title {
        font-weight: 500;
        font-size: 1.625rem;
        margin-top: 10px;
        margin-bottom: 20px;
        color: var(--ColorHeadlineOrigin);
      }
    }

    .card-slide-text p{
      color: var(--ColorTextOrigin);
    }

    &.bg-color-white {
      background-color: var(--ColorWhite);
      color: var(--ColorPrimary);
    }

    &.bg-color-primary {
      background-color: var(--ColorPrimary);
      color: var(--ColorWhite);

      .card-slide-title, .card-slide-text p {
        color: var(--ColorWhite);
      }

      .link--button {
        background-color: var(--ColorWhite);
        color: var(--ColorPrimary);

        &:hover {
          background-color: var(--ColorSecondary);
          color: var(--ColorWhite);
        }
      }
    }

    &.bg-color-secondary {
      background-color: var(--ColorSecondary);
      color: var(--ColorWhite);

      .card-slide-title, .card-slide-text p {
        color: var(--ColorWhite);
      }

      .link--button {
        background-color: var(--ColorWhite);
        color: var(--ColorPrimary);

        &:hover {
          background-color: var(--ColorPrimary);
          color: var(--ColorWhite);
        }
      }
    }
  }

  .embla__buttons {
    justify-content: space-between;
    position: absolute;
    top: 0;
    pointer-events: none;
    display: none;

    @include media('medium') {
      display: flex;
      margin-top: calc(50% / 4 * 3 / 2 - 27.5px);
      width: calc(50% + 85px);
    }

    @include media('desktop') {
      margin-top: calc(25% / 4 * 3 / 2 - 27.5px);
      width: calc(75% + 145px);
    }
  }
  .embla-button__next, .embla-button__prev {
    background-color: var(--ColorSecondary);
    color: var(--ColorWhite);
    width: 55px;
    height: 55px;
    border-radius: 0;
    border: none;
    position: relative;
    pointer-events: all;

    &::after, &::before {
        content: '';
        width: 3px;
        height: 20px;
        background-color: var(--ColorWhite);
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &::after {
        transform: translate(-50%, -20%) rotate(45deg);
    }

    &::before {
        transform: translate(-50%, -80%) rotate(-45deg);
    }

    &.embla-button__prev {
      &::after {
        transform: translate(-50%, -20%) rotate(-45deg);
      }

      &::before {
        transform: translate(-50%, -80%) rotate(45deg);
      }
    }
  }

  .slider-dots {
      margin-top: 30px;
      text-align: center;

      .embla__dots {
          position: relative;
          bottom: auto;

          .embla__dot {
              width: 30px;
              height: 10px;
              background: var(--ColorPrimary);
              opacity: 1;
              border-radius: 0;
              margin: 0 5px;
              transition: background-color 0.3s ease;

              &.embla__dot--selected {
                  background: var(--ColorSecondary);
              }
          }
      }
  }

  &.bgc-primary{
    .slider-dots {
      .embla__dots {
        .embla__dot {
          background: var(--ColorWhite);

          &.embla__dot--selected {
            background: var(--ColorSecondary);
          }
        }
      }
    }
  }

  &.bgc-secondary {
    .slider-dots {
      .embla__dots {
        .embla__dot {
          background: var(--ColorWhite);

          &.embla__dot--selected {
            background: var(--ColorPrimary);
          }
        }
      }
    }
  }
}
