section.section--CitationElement {

    padding: 50px 0;

    .section_title {
        font-weight: 500;
        margin-bottom: 2rem;
        margin-top: 0;
        letter-spacing: -0.02em;
    }

    .citation__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @include media(max-desktop) {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .list__item{
            padding-top: 20px;

            p{                
                color: var(--ColorText);
            }
        }
    }

    &.--single-item{
        .citation__list{
            grid-template-columns: 1fr;

            @include media(medium){
                max-width: 75%;
                margin: 0 auto;
            }
        }
    }

    .quote{
        position: relative;
        width: fit-content;

        p{
            margin: unset;
        }

        &::before {
            position: absolute;
            content: open-quote;
            font-size: 3rem;
            line-height: 0;
            color: var(--ColorPrimary);
            bottom: 10px;
            left: -20px;
        }
        &::after {
            position: absolute;
            content: close-quote;
            font-size: 3rem;
            line-height: 0;
            color: var(--ColorPrimary);
            top: 5px;
            right: -20px;
        }
    }

    .citation__author{
        text-align: end;
        padding: 20px;
        margin: -10px 0 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        line-height: 1;

        img{
            max-height: 50px;
            width: auto;
            border-radius: 25px;
        }

        @include media(max-smartphone) {
            margin: -20px 0 0 0;
        }
    }

    &.variant--fullwidth{
        .citation__list{
            display: block;
            width: 80%;
            margin: 0 auto;

            @include media(max-medium) {
                width: 100%;
            }
        }
        
        .citation__author{
            img{
                max-height: 100px;
                border-radius: 50px;
            }
        }
    }

    &.variant--highlight{
        .citation__list{
            display: block;
            width: 80%;
            margin: 0 auto;

            @include media(max-medium) {
                width: 100%;
            }
        }

        .list__item{
            display: grid;
            grid-template-columns: 20% 1fr;
            gap: 10px 20px;
            grid-template-areas: "image quote"
                                 "image author";

            .quote{
                grid-area: quote;
            }

            .author__name{
                grid-area: author;
                margin-left: 2em;
            }

            .author__image{
                grid-area: image;
                display: flex;
                align-items: center;

                img{
                    width: 100%;
                    height: auto;
                    display: block;
                    border-radius: 100px;
                }
            }

            @include media(max-medium) {
                grid-template-columns: 1fr 2fr;
                grid-template-areas: "quote quote"
                                     "image author";

                .author__name{
                    margin-left: 0;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
