section.section--CitationElement {

    padding: 50px 0;

    .section_title {
        font-weight: 500;
        margin-bottom: 2rem;
        margin-top: 0;
        letter-spacing: -0.02em;
    }

    .citation-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @include media(max-desktop) {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .citation-item{
            background-color: var(--ColorWhite);
            padding-top: 20px;

            p{                
                color: var(--ColorText);
            }
        }
    }

    &.--single-item{
        .citation-list{
            grid-template-columns: 1fr;

            @include media(medium){
                max-width: 75%;
                margin: 0 auto;
            }
        }
    }

    .citation-quote{
        position: relative;
        width: fit-content;

        p{
            margin: unset;
        }

        &::before {
            position: absolute;
            content: open-quote;
            font-size: 3rem;
            line-height: 0;
            color: var(--ColorPrimary);
            bottom: 10px;
            left: -20px;
        }
        &::after {
            position: absolute;
            content: close-quote;
            font-size: 3rem;
            line-height: 0;
            color: var(--ColorPrimary);
            top: 5px;
            right: -20px;
        }
    }

    .citation-author{
        text-align: end;
        padding: 20px;
        margin: -10px 0 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        line-height: 1;

        img{
            max-height: 50px;
            width: auto;
            border-radius: 25px;
        }

        @include media(max-smartphone) {
            margin: -20px 0 0 0;
        }
    }
}
