section.section--HighlightElement {
    .section_content {
        .section_content_inner {
            position: relative;
            overflow: hidden;
            padding: 40px 20px;
            width: 70%;
            height: auto;

            .section_title{
                margin-top: 0;
            }

            .section_text {
                p {
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .section_links{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            @include media(maxwidth){
                padding: 40px 20px 40px 0;
            }

            @include media(desktop){
                width: 100%;
                height: auto;
            }
        }
    }

    &.bgc-primary {
        background: linear-gradient(90deg, var(--ColorPrimary) 49%, var(--ColorPrimary) 20%, transparent 21%, transparent 100%);

        .section_content_inner {
            background-color: var(--ColorPrimary);
        }
    }

    &.bgc-secondary {
        background: linear-gradient(90deg, var(--ColorSecondary) 0%, var(--ColorSecondary) 50%, transparent 51%, transparent 100%);

        .section_content_inner {
            background-color: var(--ColorSecondary);
        }
    }

    &.variant--half {
        .section_content_inner {
            width: 50%;
            @include media(max-desktop){
                width: 100%;
            }
        }
    }
}
