section.section--HighlightElement {
    .section_content {
        .section_content_inner {
            position: relative;
            overflow: hidden;
            padding: 40px 20px;
            width: 70%;
            height: auto;
            color: var(--ColorText);

            .section_title{
                margin-top: 0;
                color: var(--ColorHeadline);
            }

            .section_links{
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: var(--ColorText);

                .section_link {
                    color: var(--ColorText);

                    &::before{
                        color: var(--ColorText);
                    }
                }
            }

            @include media(maxwidth){
                padding: 40px 20px 40px 0;
            }

            @include media(desktop){
                width: 100%;
                height: auto;
            }
        }

        @include media(maxwidth){
            padding: 0 0 0 20px;
        }
    }

    &.bgc-primary {
        background: linear-gradient(90deg, var(--ColorPrimary) 0%, var(--ColorPrimary) 50%, transparent 51%, transparent 100%);

        .section_content_inner {
            background-color: var(--ColorPrimary);
        }
    }

    &.bgc-secondary {
        background: linear-gradient(90deg, var(--ColorSecondary) 0%, var(--ColorSecondary) 50%, transparent 51%, transparent 100%);

        .section_content_inner {
            background-color: var(--ColorSecondary);
        }
    }
}
