section.section--ShowcaseElement {
    padding: 20px 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .section_overlay{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .section_content {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        align-self: stretch;
        min-height: 0;
        flex: 1; // Nimmt den verfügbaren Platz ein

        .section_content_inner {
            position: relative;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 40px;
            width: calc(50% - 20px);
            height: auto;

            .section_title{
                margin-top: 0;
            }

            .section_text {
                margin: 20px 0;

                p{
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }

            @include media(max-desktop) {
                width: 100%;
                height: auto;
            }
        }

        &.boxposition--top-left {
            justify-content: flex-start;
            align-items: flex-start;
        }

        &.boxposition--top-right {
            justify-content: flex-end;
            align-items: flex-start;
        }

        &.boxposition--top-center {
            justify-content: center;
            align-items: flex-start;
        }

        &.boxposition--center-left {
            justify-content: flex-start;
            align-items: center;
            top: 50%;
        }

        &.boxposition--center-right {
            justify-content: flex-end;
            align-items: center;
        }

        &.boxposition--top-center {
            align-items: flex-start;
            justify-content: center;
        }

        &.boxposition--bottom-left {
            align-items: flex-end;
            justify-content: flex-start;
        }

        &.boxposition--bottom-center {
            align-items: flex-end;
            justify-content: center;
        }

        &.boxposition--bottom-right {
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}
