.section.section--TeaserElement {

    margin: 0px auto;
    padding: 50px 0;

    &.bgc-primary {
        background-color: var(--ColorPrimary);
        
        &.primary-white-text {
            .teaser-title {
                color: var(--ColorWhite);
            }
        }
    }

    &.bgc-secondary {
        background-color: var(--ColorSecondary);
                
        &.secondary-white-text {
            .teaser-title {
                color: var(--ColorWhite);
            }
        }
    }
    
    .teaser {
        &-title {
            text-align: left;
            margin: 0 auto 40px;            
            color: var(--ColorHeadline);
            max-width: var(--MaxWidthContent);

            @include media("<desktop") {
                text-align: center;
            }
            
            @include media("<medium") {
                margin: 0 0 30px 0;
            }
        }
        
        &-grid {
            display: grid;
            gap: 10px;

            &.columns-1 {
                grid-template-columns: 1fr;
            }
            &.columns-2 {
                grid-template-columns: repeat(2, 1fr);
            }
            &.columns-3 {
                grid-template-columns: repeat(3, 1fr);
            }
            &.columns-4 {
                grid-template-columns: repeat(4, 1fr);
                .teaser-item {
                    &-image {
                        height: 200px;
                    }
                }
            }
            &.columns-5 {
                grid-template-columns: repeat(5, 1fr);
                .teaser-item {
                    &-image {
                        height: 200px;
                    }
                }
            }

            @include media("<medium") {
                &.columns-1,
                &.columns-2,
                &.columns-3,
                &.columns-4 {
                    grid-template-columns: 1fr;
                    gap: 15px;
                }
            }
        }
    }

    .section_content {
        max-width: calc(var(--MaxWidthContent) + 20px);
    }
    
    .teaser-item {
        background: var(--ColorWhite);
        overflow: hidden;
        transition: transform 0.3s ease;
        margin-bottom: 10px;
        padding: 10px;
        
        &-image {
            width: 100%;
            height: 450px;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
            }
            
            @include media(">desktop") {
                height: 450px;
            }
        }
        
        &:hover &__image img {
            transform: scale(1.05);
        }
        
        &-content {
            margin-top: 25px;
            
            @include media("<medium") {
                padding: 20px;
            }
        }
        
        &-title {
            margin: 0 0 15px 0;
            font-size: 1.625rem;
            color: var(--ColorHeadline);
            hyphens: auto;
            
            @include media("<medium") {
                font-size: 1.3rem;
            }
        }
        
        &-text {
            margin: 0 0 20px 0;
            color: var(--ColorText);
            
            p {
                margin: 0 0 12px 0;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
