section.section--TextImageElement {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: unset;

    .section_content {
        display: grid;
        align-items: stretch;
        grid-template-columns: 1fr;
        grid-template-areas: "text"
        "image";
        max-width: unset;
        --TenthOfMaxWidth: calc(var(--MaxWidth) / 10);

        &:has(.section_links), &:has(.section_image), &:has(.section_video) {

            @include media(">=desktop") {
                grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 5) calc(var(--TenthOfMaxWidth) * 5) 1fr;
                grid-template-areas: ". text image .";

                &.image--30{
                    grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 7) calc(var(--TenthOfMaxWidth) * 3) 1fr;
                }

                &.image--40{
                    grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 6) calc(var(--TenthOfMaxWidth) * 4) 1fr;
                }

                &.image--60{
                    grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 4) calc(var(--TenthOfMaxWidth) * 6) 1fr;
                }

                &.image--70{
                    grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 3) calc(var(--TenthOfMaxWidth) * 7) 1fr;
                }
            }

        }

        .section_text {
            color: var(--ColorText);
            padding: 80px 30px 80px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            width: 100%;
            grid-column: 1 / 2;
            grid-row: 1 / -1;
            height: 100%;
            text-align: left;
            grid-area: text;

            .section_title {
                font-weight: 500;
                margin-bottom: 2rem;
                margin-top: 0;
                color: var(--ColorHeadline);
                letter-spacing: -0.02em;
            }

            .section_text_content {
                color: var(--ColorText);
                align-self: end;

                p {
                    margin-bottom: 1.5rem;
                }

                @include media("<desktop") {
                    width: 100%;
                }
            }

            @include media("<maxWidth") {
                padding: 60px 20px 40px 20px;
            }

            @include media("<desktop") {
                grid-column: 1 / -1;
                padding: 20px 20px;
            }
        }

        .section_links {
            grid-column: 2/3;
            padding: 80px 20px;
            display: flex;
            flex-direction: column;

            @include media("<desktop") {
                grid-column: 1 / -1;
                padding: 20px 20px;
            }

            .section_links_title{
                margin-top: 0;
            }
        }

        .section_video {
            width: 100%;
            height: 100%;
            flex: 0 0 50%;
            position: relative;
            grid-area: image;

            @include media("<desktop") {
                aspect-ratio: 16 / 9;
            }
        }

        .section_image {
            flex: 0 0 50%;
            position: relative;
            grid-area: image;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }

    &.image--left {
        .section_content {
            @include media(">=desktop") {
                grid-template-areas: '. image text .';

                .section_links {
                    grid-column: 2 / 3;
                }
            }
        }
    }

    &.image--right {
        .section_content {
            @include media(">=desktop") {
                grid-template-areas: '. text image .';

                .section_links {
                    grid-column: 3 / 4;
                }
            }
        }
    }

    &.image--wideleft {
        .section_content {
            @include media(">=desktop") {
                grid-template-areas: 'image image text .';

                .section_links {
                    grid-column: 2 / 3;
                }

                &.image--30{
                    grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 3) calc(var(--TenthOfMaxWidth) * 7) 1fr;
                }

                &.image--40{
                    grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 4) calc(var(--TenthOfMaxWidth) * 6) 1fr;
                }

                &.image--60{
                    grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 6) calc(var(--TenthOfMaxWidth) * 4) 1fr;
                }

                &.image--70{
                    grid-template-columns: 1fr calc(var(--TenthOfMaxWidth) * 7) calc(var(--TenthOfMaxWidth) * 3) 1fr;
                }
            }
        }
    }

    &.image--wideright {
        .section_content {
            @include media(">=desktop") {
                grid-template-areas: '. text image image';

                .section_links {
                    grid-column: 3 / 4;
                }
            }
        }
    }

    @include media("<desktop") {

        .section_content {
            min-height: auto;
            flex-direction: column;
        }

        .section_title{
            width: 100%;
        }

        .section_button{
            width: 100%;
        }

        .section_text {
            padding: 60px 30px;
            text-align: center;
            order: 1;
            padding: 60px 30px;
        }

        .section_image {
            margin: 0 !important;
            order: 2;
            flex: none;
            max-width: none;
            width: 100%;
        }
    }

    &.bgc-primary {
        background-color: var(--ColorPrimary);

        &.primary-white-text {
            .section_text  .section_text_content, .section_title {
                color: var(--ColorWhite);
            }
        }
    }

    &.bgc-secondary {
        background-color: var(--ColorSecondary);

        &.secondary-white-text {
            .section_text .section_text_content, .section_title {
                color: var(--ColorWhite);
            }
        }
    }
}
