section.section--TextImageElement {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: unset;

    .section_content {
        display: grid;
        max-width: unset;
        padding: 0;

        grid-template-areas:
            ". title . image ."
            ". content . image .";
        grid-template-columns: minmax(20px, 1fr) calc(50% - 20px) 30px calc(50% - 50px) minmax(20px, 1fr);
        grid-template-rows: auto 1fr;
        --TenthOfMaxWidth: calc(var(--MaxWidthContent) / 10);

        .section_title {
            grid-area: title;
            font-weight: 500;
            color: var(--ColorHeadline);
            letter-spacing: -0.02em;
            margin: 0;
            margin: 50px 0 0;
        }

        .section_text_content {
            color: var(--ColorText);
            grid-area: content;
            padding: 50px 0;

            p {
                margin-bottom: 1.5rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .section_button {
                margin-top: 20px;
            }
        }

        .section_links {
            grid-area: links;
            padding: 50px 0;

            .section_links_title{
                margin-top: 0;
                color: var(--ColorPrimary);
            }
        }

        .section_video {
            grid-area: image;
            width: 100%;
            height: 100%;
            flex: 0 0 50%;
        }

        .section_image {
            grid-area: image;

            //fill total height of gridarea without expanding the grid
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;


            img {
              position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }

        // On larger Screens
        @include media(maxwidth) {
            grid-template-columns: minmax(20px, 1fr) calc(var(--TenthOfMaxWidth) * 5 - 20px) 30px calc(var(--TenthOfMaxWidth) * 5 - 50px) minmax(20px, 1fr);
        }
    }


    //Image Orientation Variants
    &.image--left {
        .section_content {
            grid-template-areas:
                '. image . title .'
                '. image . content .';
        }

        &:has(.section_links) {
            .section_content {
                grid-template-areas:
                    '. image . title .'
                    '. links . content .';
            }
        }
    }

    &.image--right {
        .section_content {
            grid-template-areas:
                '. title . image .'
                '. content . image .';

            @include media(max-medium) {
                grid-template-columns: minmax(20px, 1fr) calc(50% - 50px) 30px calc(50% - 20px) minmax(20px, 1fr);
            }

            // On larger Screens
            @include media(maxwidth) {
                grid-template-columns: minmax(20px, 1fr) calc(var(--TenthOfMaxWidth) * 5 - 50px) 30px calc(var(--TenthOfMaxWidth) * 5 - 20px) minmax(20px, 1fr);
            }
        }

        &:has(.section_links) {
            .section_content {
                grid-template-areas:
                    '. title . image .'
                    '. content . links .';
            }
        }
    }

    &.image--wideleft {
        .section_content {
            grid-template-areas:
                'image image . title .'
                'image image . content .';
        }

        &:has(.section_links) {
            .section_content {
                grid-template-areas:
                    'image image . title .'
                    '. links . content .';
            }
        }
    }

    &.image--wideright {
        .section_content {
            grid-template-areas:
                '. title . image image'
                '. content . image image';


            @include media(max-medium) {
                grid-template-columns: minmax(20px, 1fr) calc(50% - 50px) 30px calc(50% - 20px) minmax(20px, 1fr);
            }

            // On larger Screens
            @include media(maxwidth) {
                grid-template-columns: minmax(20px, 1fr) calc(var(--TenthOfMaxWidth) * 5 - 50px) 30px calc(var(--TenthOfMaxWidth) * 5 - 20px) minmax(20px, 1fr);
            }
        }

        &:has(.section_links) {
            .section_content {
                grid-template-areas:
                    '. title . image image'
                    '. content . links .';
            }
        }
    }


    //Width Variants
    &.columnratio--3-7{
        .section_content {

            @include media(max-medium) {
                grid-template-columns: minmax(20px, 1fr) calc(30% - 35px) 30px calc(70% - 35px) minmax(20px, 1fr);
            }

            @include media(maxwidth) {
                grid-template-columns: minmax(20px, 1fr) calc(var(--TenthOfMaxWidth) * 3 - 35px) 30px calc(var(--TenthOfMaxWidth) * 7 - 35px) minmax(20px, 1fr);
            }
        }
    }

    &.columnratio--4-6{
        .section_content {
            @include media(max-medium) {
                grid-template-columns: minmax(20px, 1fr) calc(40% - 35px) 30px calc(60% - 35px) minmax(20px, 1fr);
            }

            @include media(maxwidth) {
                grid-template-columns: minmax(20px, 1fr) calc(var(--TenthOfMaxWidth) * 4 - 35px) 30px calc(var(--TenthOfMaxWidth) * 6 - 35px) minmax(20px, 1fr);
            }
        }
    }

    &.columnratio--6-4{
        .section_content {
            @include media(max-medium) {
                grid-template-columns: minmax(20px, 1fr) calc(60% - 35px) 30px calc(40% - 35px) minmax(20px, 1fr);
            }

            @include media(maxwidth) {
                grid-template-columns: minmax(20px, 1fr) calc(var(--TenthOfMaxWidth) * 6 - 35px) 30px calc(var(--TenthOfMaxWidth) * 4 - 35px) minmax(20px, 1fr);
            }
        }
    }

    &.columnratio--7-3{
        .section_content {
            @include media(max-medium) {
                grid-template-columns: minmax(20px, 1fr) calc(70% - 35px) 30px calc(30% - 35px) minmax(20px, 1fr);
            }

            @include media(maxwidth) {
                grid-template-columns: minmax(20px, 1fr) calc(var(--TenthOfMaxWidth) * 7 - 35px) 30px calc(var(--TenthOfMaxWidth) * 3 - 35px) minmax(20px, 1fr);
            }
        }
    }


    //Background Color Variants
    &.bgc-primary {
        &.primary-white-text {
            .section_text  .section_text_content, .section_title {
                color: var(--ColorWhite);
            }
        }
    }

    &.bgc-secondary {
        &.secondary-white-text {
            .section_text .section_text_content, .section_title {
                color: var(--ColorWhite);
            }
        }
    }

    @include media(max-medium) {
        .section_content {
            grid-template-areas:
                "image"
                "title"
                "content"
                "links" !important;

            grid-template-columns: 1fr;
            grid-template-rows: auto;
            padding: 0 20px;

            .section_image, .section_video, .section_links {
                height: auto;
                width: 100%;
                margin-bottom: 20px;
            }

            .section_image {
                margin: 0 auto 20px;
                img {
                    position: relative;
                    height: auto;
                    width: 100%;
                    object-fit: contain;
                }
            }

            .section_title{
              padding: 0;
            }
        }

        &.image--wideright, &.image--wideleft {
            .section_image {
                margin: 0 -20px 20px -20px;
                width: calc(100% + 40px);
            }
        }
    }
}
