section.section--TwoColumnTextElement {
    padding: 60px 0;

    .two-column-content {
        display: grid;
        grid-template-columns: var(--TitleWidth, 50%) calc(100% - var(--TitleWidth, 50%));
        max-width: var(--MaxWidthContent);
        margin: 0 auto;

        @include media(max-desktop) {
            grid-template-columns: 1fr;
            gap: 40px;
            text-align: center;
            min-height: auto;
        }
    }

    .title-column {
        display: flex;
        flex-direction: column;
        padding-top: var(--TitleVerticalPosition);
        box-sizing: border-box;

        &.title-vertical-bottom, &.title-vertical-center, &.title-vertical-top {
            justify-content: center;
        }

        .element-title {
            margin: 0;

            @include media(desktop) {
                padding-right: 30px;
            }
        }
    }

    .text-column {
        .element-text {

            p {
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.title-right {
        .two-column-content {
            .title-column {
                .element-title {
                    padding-right: unset;
                }
            }

            .text-column {
                padding-right: 30px;
            }

            .title-column {
                order: 1;
            }

            @include media(max-desktop) {
                grid-template-columns: 1fr;

                .text-column {
                    padding-right: unset;
                }

                .title-column {
                    order: -1;
                }
            }
        }
    }


    &.title-vertical-top {
        .two-column-content {
            align-items: flex-start;
        }
    }

    &.title-vertical-center {
        .two-column-content {
            align-items: center;
        }
    }

    &.title-vertical-bottom {
        .two-column-content {
            align-items: flex-end;
        }
    }

}
