.section.section--TwoColumnTextElement {
    padding: 80px 0;

    &.bgc-primary {
        background-color: var(--ColorPrimary);

        &.primary-white-text {
            .title-column .element-title,
            .text-column .element-text,
            .text-column .element-text p {
                color: var(--ColorWhite);
            }
        }
    }

    &.bgc-secondary {
        background-color: var(--ColorSecondary);

        &.secondary-white-text {
            .title-column .element-title,
            .text-column .element-text,
            .text-column .element-text p {
                color: var(--ColorWhite);
            }
        }
    }

    .section_content {
        padding: 0 20px;
        max-width: none;
    }

    .two-column-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        max-width: var(--MaxWidthContent);
        margin: 0 auto;

        @include media("<desktop") {
            grid-template-columns: 1fr;
            gap: 40px;
            text-align: center;
        }
    }

    .title-column {
        .element-title {
            margin: 0;
            color: var(--ColorHeadline);

            @include media(">=desktop") {
                padding-right: 30px;
            }
        }
    }

    .text-column {
        .element-text {
            color: var(--ColorHeadline);

            p {
                color: var(--ColorText);
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.title-right {
        .two-column-content {
            .title-column {
                .element-title {
                    padding-right: unset;
                }
            }

            .text-column {
                padding-right: 30px;
            }

            .title-column {
                order: 1;
            }
            
            @include media("<desktop") {
                grid-template-columns: 1fr;

                .text-column {
                    padding-right: unset;
                }

                .title-column {
                    order: -1;
                }
            }
        }
    }

    &.title-vertical-top {
        .two-column-content {
            align-items: flex-start;
        }
    }

    &.title-vertical-center {
        .two-column-content {
            align-items: center;
        }
    }

    &.title-vertical-bottom {
        .two-column-content {
            align-items: flex-end;
        }
    }
}
